<%- include('./partials/head') %>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">

    <form action="/search">
      <button type="submit">Let Me Search Again Please</button>
    </form>
    <form action="/">
      <button type="submit">Take Me Home Please</button>
    </form>

    <h1>Results from the Owl</h1>
    <p>here are the results for <%= word.word %>:</p>

    <h2><%= word.word %></h2>
    <p><%= word.pron %></p>
    <p><%= word.def %></p>
    <img src="<%= word.image %>" alt="image of <%= word.word %>">
    <p><%= word.emoji %></p>
  </div>
  <%- include('./partials/footer') %>