<%- include('./partials/head') %>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <a href="/">Take Me Home Please</a>
    <h1>Results from the Owl</h1>
    <p>here are the results for <%= word %>:</p>

    <h2><%= word.word %></h2>
    <li><%= word.pron %></li>
    <li><%= word.def %></li>
    <img src="<%= word.image %>" alt="image of <%= word.word %>">
    <li><%= word.emoji %></li>
  </div>
  <script src="" async defer></script>
</body>

</html>